@model HastaneBilgiSistemi.Data.Model.PatientHistory

@{
    ViewData["Title"] = "Patient Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Patient Details</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Polyclinic.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Polyclinic.Name)
        </dd>
    </dl>
</div>

Patient Reservation History

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medications)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Medications)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Medication.Name)
                </td>
            </tr>
        }
    </tbody>
</table>




<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
