@model HastaneBilgiSistemi.Data.Model.PatientHistory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Patient History Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Reservation.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Doctor.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Polyclinic)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Polyclinic.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diseas)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Diseas.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complaint)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Complaint)
        </dd>
    </dl>
</div>


@if (Model.Medications.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Medication
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Medications)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medication.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



<div>
    <a asp-controller="Patient" asp-action="Index">Back to List</a>
</div>
